<!DOCTYPE html>
<html ng-app="angularjs-starter">
	<head>
		<title>Kello - Pomodoro</title>
		<link href='http://fonts.googleapis.com/css?family=Advent+Pro:100,300,400' rel='stylesheet' type='text/css'>
		<link href="css/kello.css" rel="stylesheet" />
		<script src="js/angular.min.js"></script>
		<script src="js/angular-round-progress-directive.js"></script>
		<script src="js/controller.js"></script>
		<link rel="shortcut icon" href="img/icon-32-alt.png">
	</head>
	<body ng-controller="MainCtrl">
		<div class="fade" id="configs" ng-class="{ 'slideUp': running, 'slideDown': !running }">
			<input class="enterMinutes fade" type="number" ng-model="initValue" ng-disabled="running" contenteditable />
			<div id="radios">
				<input type="radio" id="unitSeconds" name="units" ng-model="timeUnit" value="useSeconds" ng-checked="timeUnit == 'useSeconds'" /><label class="fade" for="unitSeconds" ng-class="{ 'disabled': timeUnit == 'useMinutes' }"><i class="icon-ok"></i> Seconds</label>
				<input type="radio" id="unitMinutes" name="units" ng-model="timeUnit" value="useMinutes" ng-checked="timeUnit == 'useMinutes'" /><label class="fade" for="unitMinutes" ng-class="{ 'disabled': timeUnit == 'useSeconds' }"><i class="icon-ok"></i> Minutes</label>
			</div>
			<div id="soundSettings">
				<audio id="timesUpSound" class="hide">
					<source src="audio/bell2.ogg" type="audio/ogg">
					<source src="audio/bell2.mp3" type="audio/mpeg">
				</audio>
				<input type="checkbox" id="checkToPlay" ng-model="checkToPlay" ng-init="checkToPlay=true" class="hide" /><label class="fade" for="checkToPlay" ng-class="{ 'disabled': !checkToPlay }"><i class="icon-music"></i> Play sound when time's up</label>
			</div>
		</div>
		<div id="wrapper">
			<br />
			<div ang:round:progress data-round-progress-model="roundProgressData"
															data-round-progress-width="340"
															data-round-progress-height="340"
															data-round-progress-outer-shadow-blur="10"
															data-round-progress-outer-circle-width="3"
															data-round-progress-inner-circle-width="3"
															data-round-progress-outer-circle-radius="160"
															data-round-progress-inner-circle-radius="160"
															data-round-progress-label-font="1pt Arial"
															data-round-progress-outer-shadow-color="#46ded5"
															data-round-progress-outer-circle-background-color="#1a1a1a"
															data-round-progress-outer-circle-foreground-color="#46ded5"
															data-round-progress-inner-circle-color="#1a1a1a"
															data-round-progress-label-color="#1d242c"></div>
			<div class="fade" id="counterLabel" ng-class="{ 'show': !timesUp, 'hide': timesUp }">{{currentValue}}</div>
			<br />
			<div class="fade" id="timesUp" ng-class="{ 'show': timesUp, 'hide': !timesUp || running }">Time's Up!</div>
			<div id="controls">
				<a class="startBtn fade" ng-click="start()" ng-class="{ 'disabled': running }">Start</a>
				<a class="stopBtn fade" ng-click="stop()" ng-class="{ 'disabled': !running }">Stop</a>
			</div>
		</div>
	</body>
</html>
